.input, .addButton, .deletecompleted, .sortBtn, .groupBtn {
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
}

/* input */
.input {
	width: 70%;
}

/* buttons */
.addButton, .deletecompleted, .sortBtn, .groupBtn {
	background-color: gray;
	color: #fff;
}

.addButton:hover, .addButton:focus, 
.deletecompleted:hover, .deletecompleted:focus,
.sortBtn:hover, .sortBtn:focus,
.groupBtn:hover, .groupBtn:focus {
	background-color: rgb(166, 166, 166);
}

.sortBtn, .groupBtn {
	margin: 10px 0 10px 10px;
}
